/* some style */
.callie-view {
    margin: 10px;
}

#cal-this-month {
    margin-right: 10px;
}

.callie-view table {
   table-layout: fixed; 
}

.callie-view .weekdays th {
    text-align: center;
    padding: 0;
}

.callie-view td {
    height: 80px;
}

.callie-view td.today {
    background: #fcf8e3;
}

.callie-view td.not-active-month .daynumber {
    opacity: .3;
}

.callie-view .event-container a {
   cursor: pointer;
   color: #fff;
   text-decoration: none;
   margin-bottom: 5px;
}

.event-container {
    white-space: normal;
    border-radius: 3px;
    border: 1px solid #3a87ad;
    background-color: #3a87ad;
    margin-bottom: 3px;
    overflow: hidden;
}

.callie-view span.time {
    margin-right: 4px;
    white-space: nowrap;
    font-weight: bold;
}

.callie-view table>tbody>tr>td {
    padding-left: 0;
    padding-right: 0;
}

